streamlit

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-huggingface

# LLM + embeddings
huggingface_hub
transformers
sentence-transformers

# Vector store
faiss-cpu

# Data handling
pandas
numpy

# Env & API
python-dotenv
openai
